/* Insert your styles here */
nav {
  background-color: black;
}

nav a {
  width: 300px;
  text-align: center;
  color: red;
}

nav a:hover {
  color: white;
}

#About_Us {
  background-color: black;
}

.carousel-caption {
  background-color: red;
}

table,td,th{
  height:50px;
  border: 2px solid;
  border-collapse: collapse;
  text-align: center;

}