/* Insert your styles here */
header {
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 9999;
}

nav a {
  display: block;
  width: 430px;
  background-color: black;
  text-align: center;
  color: red;
}

nav a:hover {
  color: white;
}

#About_Us {
  background-color: black;
  color: white;
  text-align: center;
}

#About_Us h1 {
  background-color: purple;
  color: yellow;
}

.parallax {
  background-image: url("media/cinema.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#Prices {
  background-image: url('media/prices.jpg');
  height: 500px;
}

#Prices h1 {
  text-align:center;
  background-color: orange;
}

#Prices table{
  background-color: black;
  color: white;
  border: 15px solid orange;
}

table,td,th{
  height:50px;
  border: 2px solid orange;
  border-collapse: collapse;
  text-align: center;

}

#Now_Showing{
  height: 830px;
  background-image: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet);
}

#Now_Showing h1 {
  text-align: center;
  background-color: black;
  color: red;
}

footer{
  background-color: black;
  color: red;
}