/* Insert your styles here */
header {
  background-color: black;
  position: sticky;
  top: 0;
}

nav ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

nav li {
  display: inline-block;
  width: 33%;
  padding: 7px;
  text-align: center;
}

nav a {
  text-align: center;
  color: red;
}

nav a:hover {
  color: white;
}

#About_Us {
  background-color: black;
  color: white;
}

.parallax {
  background-image: url("media/cinema.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

table,td,th{
  height:50px;
  border: 2px solid;
  border-collapse: collapse;
  text-align: center;

}